/* https://css-tricks.com/responsive-data-tables */



/*! ******************** custom properties ******************** !*/
:root
{
  --main-color: rgb(0, 187, 255);
  --main-second-color: rgba(0, 187, 255, 0.75);

  --white-color-1: #ffffff;
  --white-color-2: #f2f2f2;
  --white-color-3: #e5e5e5;
  --white-color-4: #d8d8d8;

  --blank-color-1: #000000;
  --blank-color-2: #0c0c0c;
  --blank-color-3: #191919;
  --blank-color-4: #262626;

  --grey-color-1: #555555;

  --pd-0: 0;
  --pd-2: 2px;
  --pd-4: 4px;
  --pd-6: 6px;
  --pd-8: 8px;
  --pd-10: 10px;
  --pd-12: 12px;
  --pd-14: 14px;
  --pd-16: 16px;

  --mg-0: 0;
  --mg-2: 2px;
  --mg-4: 4px;
  --mg-6: 6px;
  --mg-8: 8px;
  --mg-10: 10px;
  --mg-12: 12px;
  --mg-14: 14px;
  --mg-16: 16px;
}






/*! ******************** Reset CSS ******************** !*/
html { box-sizing: border-box; font-size: 16px; line-height: 1.6; scroll-behavior: smooth; }

*,
*::before,
*::after { box-sizing: inherit; }

body { min-width: 320px; margin: var(--mg-0); overflow-x: hidden; text-rendering: optimizeSpeed; font-family: 'Open Sans', sans-serif; color: var(--blank-color-1); }

h1 { margin: var(--mg-0); font-size: 2rem; }
h2 { margin: var(--mg-0); font-size: 1.5rem; }
h3 { margin: var(--mg-0); font-size: 1.25; }
h4 { margin: var(--mg-0); font-size: 1rem; }
h5 { margin: var(--mg-0); font-size: 0.85rem; }
h6 { margin: var(--mg-0); font-size: 0.7rem; }

img {max-width: 100%; height: auto; }

ul { list-style: none; margin: var(--mg-0); }

th, td { padding: var(--pd-0); }

a { text-decoration: none; transition-property: background, opacity; transition-duration: 0.3s; transition-timing-function: ease-in-out;}

[id] { scroll-margin-top: 2ex; }






/*! ******************** Header Mobile ******************** !*/
.header
{
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: -1px 1px 6px var(--white-color-4);
  background-color: var(--white-color-1);
}
.header_container {
  max-width: 1200px;
  height: 3rem;
  padding-left: var(--pd-16);
  padding-right: var(--pd-16);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a{
  display: flex;
  align-items: center;
}
.menu {
  display: none;
}
.hamburger {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(177, 177, 177, 0.3)
}
.hamburger a {
  color: var(--blank-color-1);
  font-weight: bold;
  padding: var(--pd-8);
  margin-top: var(--mg-4);
  margin-bottom: var(--mg-4);
  border-radius: 4px;
}
.hamburger a:hover {
  background-color: var(--main-second-color);
}
.btn_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--pd-0);
  background: none;
  border: none;
  position: relative;
  z-index: 100;
}






/*! ******************** Login and Register Mobile ******************** !*/
.body-reglog {
  background-color: var(--main-color);
}
.container-reglog{
  width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.reglog {
  min-width: 300px;
  height: 400px;
  background-color: var(--white-color-1);
  border-radius: 8px;
  display: flex;
}
.illustration-reglog {
  display: none;
}
.form-reglog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-reglog form {
  width: 250px;
}
.form-reglog form h2 {
  color: var(--grey-color-1);
  font-size: 18px;
  margin-bottom: var(--mg-8);
  text-align: center;
}
.reglog-email, 
.reglog-contraseña, 
.reglog-nombre {
  background-color: var(--white-color-2);
  border-style: none;
  width: 100%;
  font-size: 16px;
  border-radius: 3px;
  padding: var(--pd-8);
  margin-top: var(--mg-8);
  margin-bottom: var(--mg-8);
  color: var(--grey-color-1);
}
.reglog-email::placeholder,
.reglog-contraseña::placeholder,
.reglog-nombre::placeholder {
  color: var(--grey-color-1);
}
.reglog-submit {
  width: 120px;
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
  color: var(--white-color-1);
  padding: var(--pd-8);
  margin-top: var(--mg-8);
  margin-bottom: var(--mg-8);
  cursor: pointer;
}
.form-reglog span {
  display: block;
  margin-top: var(--pd-8);
  color: var(--grey-color-1);
  font-size: 12px;
}
.form-reglog span a {
  color: var(--main-color);
}






/*! ******************** Home Mobile******************** !*/







/*! ******************** Media Queries ******************** !*/
@media screen and (min-width: 480px)
{
  /*! ******************** Login and Register Mobile ******************** !*/
  .reglog {
    min-width: 400px;
  }
  .form-reglog form {
    width: 300px;
  }
  .form-reglog span {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px)
{
}
@media screen and (min-width: 768px)
{
  /*! ******************** Login and Register Mobile ******************** !*/
  .reglog {
    min-width: 600px;
    height: 500px;
  }
  .illustration-reglog {
    display: block;
  }
  .illustration-reglog {
    display: block;
    width: 300px;
    display: flex;
    align-items: center;
  }
  .illustration-reglog img {
    width: 100%;
  }
  .form-reglog {
    width: 300px;
  }
  .form-reglog form {
    width: 260px;
  }
}
@media screen and (min-width: 1024px)
{
  .header {
    height: 4rem;
  }
  .header_container {
    height: 4rem;
  }
  .btn_menu {
    display: none;
  }
  .menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu a {
    margin-left: var(--mg-8);
    margin-right: var(--mg-8);
    color: var(--blank-color-1);
    padding: var(--pd-4);
  }
  .menu a:last-child {
    box-shadow: inset 0 -2px 0 var(--main-color);
  }
  .menu a:hover {
    box-shadow: inset 0 -2px 0 var(--main-color);
  }
  .menu a:last-child:hover {
    box-shadow: inset -2px -2px 0 var(--main-color), inset 2px 2px 0 var(--main-color);
  }



  /*! ******************** Login and Register ******************** !*/
  .container-reglog{
    height: calc(100vh - 4rem);
  }
  .reglog {
    width: 800px;
  }
  .illustration-reglog {
    width: 400px;
  }
  .form-reglog {
    width: 400px;
  }
  .form-reglog form {
    width: 320px;
  }
  





  /*! ******************** Home Mobile******************** !*/
  .sidebar {
    position: absolute;
    width: 250px;
    height: 100vh;
    background-color: var(--main-color);
    overflow: hidden;
  }
  .sidebas-logo {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebas-logo a {
    display: flex;
    align-items: center;
  }
  .header-home {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: calc(100% - 250px);
    height: 3rem;
    box-shadow: 0 1px 8px var(--white-color-4);
    background-color: var(--white-color-1);
  }
  .contenido {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: salmon;
    width: calc(100% - 250px);
    height: calc(100% - 3rem);
    display: flex;
    align-items: flex-end;
    padding: var(--pd-16);
  }
  .usuarios {
    width: 100%;
    height: 100%;
    background-color: slateblue;
  }
}
@media screen and (min-width: 1200px)
{
  
}